{# src/CoreBundle/Ressources/views/CoreViews/header.html.twig #}

	{% block header %}
		<div id="header">
			<h1> Watcha Doing ??? </h1>
			<div id="header_menu">
				<ul>
				    <li><a href="{{ path('altgeek_core_homepage') }}">{{ 'Home'|trans }}</a></li>
				    <li><a href="{{ path('altgeek_user_homepage') }}">{{ 'Profile'|trans }}</a></li>
				    <li><a href="{{ path('altgeek_oeuvre_movies') }}">{{ 'Movies'|trans }}</a></li>
				    <li><a href="{{ path('altgeek_oeuvre_tvshows') }}">{{ 'TV Shows'|trans }}</a></li>
				    <li><a href="{{ path('altgeek_oeuvre_books') }}">{{ 'Books'|trans }}</a></li>
				    <li><a href="{{ path('altgeek_oeuvre_videogames') }}">{{ 'Video Games'|trans }}</a></li>
				</ul>
			</div>
		</div>
	{% endblock %}